<web-app>
    <servlet>
        <servlet-name>Formulario</servlet-name>
        <servlet-class>minitienda.Carrito</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Formulario</servlet-name>
        <url-pattern>/miFormulario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>minitienda.Eliminar</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Comprar</servlet-name>
        <servlet-class>minitienda.Comprar</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Comprar</servlet-name>
        <url-pattern>/comprar</url-pattern>
    </servlet-mapping>
</web-app>
